:root{
  --grid-column: 150px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin-top: 2%; /*Not sustainable {FIX}*/
    position: relative;
}

/* All buttons */
.btn {
    border: 2px solid #2c2c2c;
    padding: 5px 10px;
    margin: 2%;
    cursor: pointer;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.btn:hover {
  background-color: #2c2c2c;
  color: #fff;
}

#showWeek {
  margin: 0;
}

#saveAsPdfBtn {
  margin-left: 0;
}
#generator {
  margin-right: 0;
}


#Weekinput {
  font-size: 16px;
  padding: 5px;
  width: 130px;
}


/*****************************/
/*******Input section*********/
/*****************************/
#saturdays {
  width: 21.3%;
  height: 250px;
  position: absolute;
  top: 50px;
  left: 37.5px;
}

#saturdays input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #777777;
  border-radius: 3px;
}

#saturdays a {
  position: absolute;
  top: 160px;
  left: -8px;
}


.weekText1, .weekText2, .weekText3, .weekText4{
  text-align: center;
  padding-top: 10px;
}

/**********************************
__  __       _          _____      _     _ 
|  \/  |     (_)        / ____|    (_)   | |
| \  / | __ _ _ _ __   | |  __ _ __ _  __| |
| |\/| |/ _` | | '_ \  | | |_ | '__| |/ _` |
| |  | | (_| | | | | | | |__| | |  | | (_| |
|_|  |_|\__,_|_|_| |_|  \_____|_|  |_|\__,_|
************************************/                                            
.weekText1{
  grid-area: weekText1;
}

.weekText2{
  grid-area: weekText2;
}

.weekText3{
  grid-area: weekText3;
}

.weekText4{
  grid-area: weekText4;
}

.mon{
  grid-area: mon;
}

.tue{
  grid-area: tue;
}

.wed{
  grid-area: wed;
}

.thu{
  grid-area: thu;
}

.fri{
  grid-area: fri;
}

.sat{
  grid-area: sat;
}

.sun{
  grid-area: sun;
}


main{
  width: 100%;
  display: grid;
  grid-template-columns: 80px var(--grid-column) var(--grid-column) var(--grid-column) var(--grid-column);
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-areas: 
    ". weekText1 weekText2 weekText3 weekText4"
    "mon dishes dishes dishes dishes"
    "tue dishes dishes dishes dishes"
    "wed dishes dishes dishes dishes"
    "thu dishes dishes dishes dishes"
    "fri dishes dishes dishes dishes"
    "sat dishes dishes dishes dishes"
    "sun dishes dishes dishes dishes"
    ;
}


.dishes{
    grid-area: dishes;
    display: grid;
    grid-template-columns: var(--grid-column) var(--grid-column) var(--grid-column) var(--grid-column);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}

/* individual dish */
.infoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--grid-column);
    height: 100px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.infoCard p{
    padding: 2px 5px;
    color: #fff;
    font-weight: bold;
}

/* background-color for individual dishes */
.dishes > div:nth-child(1),
.dishes > div:nth-child(2),
.dishes > div:nth-child(3),
.dishes > div:nth-child(4){
    background-color: #eb4255;
}

.dishes > div:nth-child(5),
.dishes > div:nth-child(6),
.dishes > div:nth-child(7),
.dishes > div:nth-child(8){
    background-color: #f19a38;
}

.dishes > div:nth-child(9),
.dishes > div:nth-child(10),
.dishes > div:nth-child(11),
.dishes > div:nth-child(12){
    background-color: #dab43c;
}

.dishes > div:nth-child(13),
.dishes > div:nth-child(14),
.dishes > div:nth-child(15),
.dishes > div:nth-child(16){
    background-color: #6ac55b;
}

.dishes > div:nth-child(17),
.dishes > div:nth-child(18),
.dishes > div:nth-child(19),
.dishes > div:nth-child(20){
    background-color: #69b6d9;
}

.dishes > div:nth-child(21),
.dishes > div:nth-child(22),
.dishes > div:nth-child(23),
.dishes > div:nth-child(24){
    background-color: #2d78e8;
}

.dishes > div:nth-child(25),
.dishes > div:nth-child(26),
.dishes > div:nth-child(27),
.dishes > div:nth-child(28){
    background-color: #7256c9;
}



/*MODAL*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 10;
  width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modal-header h1 {
  color: white;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
}

.modal .close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: 30px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.overlayDishes {
  background-color: #333;
  margin: 5px;
}
